{% extends "base.html" %}
{% block main_contetnt %}

    <form action="" method="POST" novalidate>
        <div class="mb-3">
            {{ form.hidden_tag() }}
            <label for="movieSearch" class="form-label">Search for movie</label>
            {{ form.searchString(class="form-control") }}
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>


<div class="container-md">
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for book in bookList %}
    <div class="col">
        <div class="card h-100">
            <img src='{{ book.volumeInfo.imageLinks.thumbnail }}' class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{  book.volumeInfo.title }} </h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ book.volumeInfo.authors[0] }} - {{ book.volumeInfo.publishedDate }}</h6>
                <a href="#" class="btn btn-warning"><img src="{{ url_for('static', filename='star-fill.svg') }}" alt="Add movie"></a>
                <p class="card-text">{{ book.volumeInfo.description }} </p>
            </div>
            <div class="card-footer"> <small class="text-muted"><b>Rating:</b> {{ book.volumeInfo.averageRating }}</small> </div>
            
        </div>
    </div>
    {% endfor %}
</div>
</div>

<br>
{% endblock %}
