{% extends "base.html" %}
{% block main_contetnt %}

    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}

        {{ form.unitFrom.label }}
        {{ form.unitFrom() }}

        {{ form.temperature() }}
        {% for error in form.temperature.errors %} 
            {{ error }}
        {% endfor %}
        <br>
        <img src="{{ url_for('static', filename='temperature.png') }} " alt="A picture">


        {{ form.unitTo.label }}
        {{ form.unitTo() }}
        <br>
        {{ form.converted.label }}
        {{ form.converted(disabled=True)}}
        <br>
        {{ form.submit() }}

    </form>

    <!-- <p>
        <a href="{{ url_for('cipher') }}">Go to shift</a>
    </p> -->


{% endblock %}