{% extends "base.html" %}
{% block main_contetnt %}

<div class="mx-auto margin-top" style="width: 200px;">
    <h4>Login:</h4>

    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        {{ form.username.label }}
        {{ form.username() }}
        {% for error in form.username.errors %} 
            {{ error }}
        {% endfor %}

        <br>
        {{ form.password.label }}
        {{ form.password() }}
        {% for error in form.password.errors %} 
            {{ error }}
        {% endfor %}

        <br>
        

        {{ form.submit(class="btn btn-primary mt-3", style="width: 100px;") }}
    </form>

    <a class="btn btn-danger mt-2" style="width: 100px;" href="{{ url_for('register') }}">Register</a>

</div>

<br>

<p class="mx-auto mt-2" style="width: 30%;">
Welcome to downtime organizer. A convinient place to search and organize things you want to watch/listen/read in your free time. Click on the Movies/Music/Books button, search for what you want and click the star to add them to your collection.
</p>


{% endblock %}

