{% extends "base.html" %}
{% block main_contetnt %}

    <form action="" method="POST" novalidate>
        <div class="mx-auto margin-top" style="width: 35%;">
            {{ form.hidden_tag() }}
            <label for="movieSearch" class="form-label">Search for a song</label>
            {{ form.searchString(class="form-control") }}
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>


<!-- <div class="card-group"> -->
<div class="container-md mt-5">
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for track in trackList %}
    <div class="col">
        <div class="card h-100">
            <img src="{{ track.cover }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ track.title }} </h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ track.artistName }} - {{ track.album }}</h6>
                <a href="{{ url_for('addSong', songId=track.songId) }}" class="btn btn-warning"><img src="{{ url_for('static', filename='star-fill.svg') }}" alt="Add music"></a>
            </div>
            <div class="card-footer"><audio class="w-75 p-3" controls src="{{ track.preview }}" > </audio></div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

<br>
{% endblock %}

